---
layout: default
---

<div class="menu"> 
  <div class="menu-half">
  {{site.title}}
  </div>

</div>


<div class="home">



<div id="fullpage">
  <div class="section">

      <div id="intro-menu">
        <div id="inner-block"
           <ul id="navigation">
             <li data-menuanchor="firstPage" class="active"><a href="#secondPage">Exhibitions</a></li>
             <li data-menuanchor="secondPage"><a href="#3rdPage">Art Direction</a></li>
             <li data-menuanchor="3rdPage"><a href="#4thpage">Film</a></li>
              <li data-menuanchor="4thpage"><a href="#5thpage">Style</a></li>
              <li data-menuanchor="5thpage"><a href="#6thpage">Fashion Show</a></li>
              <li data-menuanchor="6thpage"><a href="#7thpage">Insta Gallery</a></li> 
              <li data-menuanchor="7thpage"><a href="#8thpage">Projects</a></li>
              <li data-menuanchor="8thpage"><a href="#9thpage">About</a></li>
          </ul>
       </div>
      </div>
    <div id="intro-slides">
   </div>

  </div>


  <div class="section">
    
      {% for post in site.posts %}
        {% if post.categories contains 'exhibition' %}
        <div class="slide"> 
       <div class="bg" style="background: url('{{ post.gallery.image }}') no-repeat center center; background-size: cover;-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;"> 
            <h2>
            {{ post.gallery.title }}
            </h2>
            <p class="post-body">
           {{ post.gallery.blurb }}
            </p>
          </div>
          
    </div>
      {% endif %}
    {% endfor %}
  

  </div>
  <div class="section">
    
      {% for post in site.posts %}
        {% if post.categories contains 'music' %}
        <div class="slide"> 
       <div class="bg" style="background: url('{{ post.gallery.image }}') no-repeat center center; background-size: cover;-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;"> 
            <h2>
            {{ post.gallery.title }}
            </h2>
            <p class="post-body">
           {{ post.gallery.blurb }}
            </p>
          </div>
          
    </div>
      {% endif %}
    {% endfor %}
  

  </div>
  <div class="section">Film</div>
  <div class="section">Style</div>
 <div class="section">Fashion Show</div>
  <div class="section">Insta Gallery</div>
  <div class="section">Projects</div>
<div class="section">About</div>
</div>


  <h1 class="page-heading">Posts</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        
        <span class="post-meta2"> {{ post.gallery.blurb }}</span>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
