---
layout: default
---

<div class="menu"> 
  <div class="menu-half">
  {{site.title}}
  </div>

</div>


<div class="home">



<div id="fullpage">
  <div class="section">

      <div id="intro-menu">
        <div id="inner-block"
           <ul id="navigation">
             <li data-menuanchor="firstPage" class="active"><a href="#secondPage">Music</a></li>
             <li data-menuanchor="secondPage"><a href="#3rdPage">Fashion</a></li>
             <li data-menuanchor="3rdPage"><a href="#4thpage">Brands</a></li>
              <li data-menuanchor="4thpage"><a href="#5thpage">Luxury</a></li>
          </ul>
       </div>
      </div>
    <div id="intro-slides">
   </div>

  </div>


  <div class="section">Music
    
      {% for post in site.posts %}
      
        <div class="slide"> 
         <img src="{{page.gallery.image}}" alt="{{ post.title }}" />
            <h2>
            {{page.gallery.title}}
            </h2>
            <p class="post-body">
           {{page.gallery.blurb}}
            </p>
     
    </div>
    {% endfor %}
  

  </div>
  <div class="section">Fashion</div>
  <div class="section">Brands</div>
  <div class="section">Luxury</div>
</div>


  <h1 class="page-heading">Posts</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
